<header class="app-page-header">
  <section>
    <h2>Query Metadata</h2>
    <h4>Explore Vulcan metadata output.</h4>
  </section>
  <button class="button add-item green" color="green" (click)="addPopup()">
    + Add Entry
  </button>
</header>
<main class="app-page-content">
  <section class="query-params-form">
    <h5>Query Params:</h5>
    <form [formGroup]="form" (ngSubmit)="queryParamSubmit()">
      <div class="form-row row">
        <select required formControlName="selectedQuery" (change)="selectChangeHandler($event)">
          <option value="classnum" selected value>Class</option>
          <option value="module_name">Module</option>
          <option value="model_name">Model</option>
        </select>

        <input formControlName="queryParam" type="text" placeholder="Enter text..." value />
      </div>
      <button type="submit" class="button">Submit</button>
    </form>
  </section>

  <div class="cards-wrapper">
    <div *ngIf="jobs.length === 0">No Data to Show</div>
    <mat-card *ngFor="let job of jobs">
      <mat-card-content class="featured_img" *ngIf="job.jobdetails.signedUrls"
        (click)="videoPopup(job.jobdetails.jobID)">
        <video width="100%">
          <source src="{{ job.jobdetails.signedUrls }}" type="video/mp4" />
          <source src="{{ job.jobdetails.signedUrls }}" type="video/ogg" />
          Your browser does not support the video tag.
        </video>
      </mat-card-content>
      <mat-card-content>
        <div class="card-row text">
          <label>Modules: </label><span>{{ job.jobdetails.module_names.join(", ") }}</span><br />
        </div>
        <div class="card-row text" *ngIf="job.ingested_date_time">
          <label>Ingested Date: </label><span>{{ job.ingested_date_time.split("T")[0] }}</span>
        </div>
        <div class="card-row text" *ngIf="job.ingested_date_time">
          <label>Ingested Time: </label><span>{{ job.ingested_date_time.split("T")[1] }}</span>
        </div>
        <div class="card-row text" *ngIf="job.frequency">
          <label>Frequency: </label><span>{{ job.frequency }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</main>