<header class="app-page-header">
  <section>
    <h2>Coming Soon...</h2>
    <h4>Add whatever you'd like!</h4>
  </section>
  <button class="button add-item green" color="green">+ Add Item</button>
</header>
<main class="app-page-content">
  <section class="query-params-form">
    <h5>Query Params:</h5>
    <form>
      <div class="form-row row">
        <label>Search</label>
        <input type="text" placeholder="Enter text..." value />
      </div>
      <button type="submit" class="button">Submit</button>
    </form>
  </section>

</main>