<mat-sidenav-container class="app-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <h1 class="app-name">Vulcan Video Indexer</h1>
    <mat-nav-list>
      <a disableRipple mat-list-item routerLink="/query" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Query Metadata</a>
      <a disableRipple mat-list-item routerLink="/comingsoon" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Coming Soon...</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>