.app-page-header {
  position: relative;
  padding: 30px;
  background: hsla(0, 0%, 100%, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  section {
    margin: 0;
    padding: 0;
    flex: 1 1;
  }
  section h2 {
    font-size: 24px;
    margin: 0;
    line-height: 1.5em;
  }
  section h4 {
    margin: 15px 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5em;
  }
  .add-item {
    font-size: 18px;
    padding: 12px 30px;
  }
}

.button {
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: inherit;
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.8);
  border: transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
  outline: none;
  &.green {
    background: #1cb841;
    color: #fff;
    &:hover {
        background: #12912f;
        transition: background-color 0.15s;
    }
  }
}

.app-page-content {
  position: relative;
  flex: 1 1;
  padding: 30px;
}

.query-params-form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  max-width: 100%;
  overflow: auto;
  h5 {
    color: #666;
    margin: 0 20px 0 0;
    padding-right: 20px;
    border-right: 1px solid #ccc;
  }
  form {
    display: flex;
    align-items: center;
  }
  .form-row {
    margin: 0 20px 0 0;
    padding: 7.5px 0;
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="text"],
    input[type="url"],
    select,
    textarea {
      border-radius: 0 3px 3px 0;
      outline: none;
    }
    input[type="number"],
    input[type="text"] {
      min-width: 220px;
      outline: none;
      height: 37px;
    }
  }
  .form-row label {
    background: #fff;
    padding: 8.5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    z-index: 1;
    border-radius: 3px 0 0 3px;
    color: #999;
  }
}
.form-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    position: relative;
    & > label {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #666;
      justify-content: space-between;
      padding-right: 10px;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
    }
    input[type="text"] {
      padding-right: 25px;
    }
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="text"],
    input[type="url"],
    select,
    textarea {
      width: 100%;
      padding: 9px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #7f848e;
      background-color: #fff;
      font-size: 14px;
      margin: 0;
      box-sizing: border-box;
      border-radius: 2px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      text-overflow: ellipsis;
    }
    & > :not(label) {
      flex: 1 1;
    }
}

.button {
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: inherit;
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.8);
  border: transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  .card {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    font-weight: 300;
    margin: 0 20px 20px 0;
    flex-basis: 340px;
  }
  .card-row {
    margin: 0 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .image {
      margin: 0 0 10px;
    }
    label {
      font-size: 14px;
      font-weight: 700;
      flex: 0 1;
      flex-basis: 120px;
    }
    & > :not(label) {
      flex: 3 1;
    }
  }
}
.mat-card {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 2px rgba(65, 64, 66, 0.1);
  margin: 0 20px 20px 0;
  flex-basis: 340px;
}
.mat-card-actions {
  text-align: center;
}
.mat-raised-button {
  &:hover {
    background: rgb(200, 200, 200);
  }
  &:active {
    background: rgb(150, 150, 150);
  }
}